
img {
  width: 200px;
  height: auto; 
}

#nav_bar {
  background-color: rgb(226, 219, 219);
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 50px;  
  
}

section {
  background-color: rgb(226, 219, 219);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
}

.nav_option {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-family: Arial, sans-serif;
}