*{
  color: rgb(3, 56, 117)
}

img {
  width: 200px;
  height: auto; 
}

#nav_bar {
  background-color: rgb(226, 219, 219);
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 50px;  
  
}

.nav_option {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-family: Arial, sans-serif;
  
}

.nav_option:hover {
  color: rgb(3, 56, 117);
  font-size: 30px;
  font-weight: bold;
}

section {
  background-color: rgb(226, 219, 219);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
}

#contact_us {
  display: flex;
  flex-direction: column; 
  padding: 30px;
  gap: 20px;
  font-size: 18px;
  text-decoration: none;
}

p{
  text-align: center;
  text-decoration: none;
}
